.divScore{

	text-shadow:0 0 20px #00FFFC,2px 3px 3px #141414, 0 0 100px #00D4D1;
	color:#00FFFC;
	background-color:#262626;
	position:absolute;
/*	background-color: lightgrey;*/
	top:35%;
	/*margin-left:42.5%;*/
	padding-left: 1%;
	padding-right: 1%;
	user-select:none;
	border-radius: 10px;
	text-align:center;
	border: solid 2px #00fffc;
	border-style: dashed;


	opacity:0;animation: transition 2.5s  forwards;
}
/* EFFETS DIFFERENTS POUR LE BORDER-STYLE
 dashed
 dotted
 double
 groove
 hidden
 inset
 none
 outset
 ridge
 solid*/
 @keyframes transition {
0%   { margin-left: -70px;opacity:0; }
100% { margin-left: 0px;opacity:1; }
}

 @keyframes transition_gameover {
0%   { margin-top: -70px;opacity:0; }
100% { margin-top: 0px;opacity:1; }
}

 @keyframes transition_rejouer {
0%   { opacity:0; }
100% { opacity:1; }
}

.divDefeat{
	text-shadow:0 0 20px #00FFFC,2px 3px 3px #141414, 0 0 100px #00D4D1;
	color:#00FFFC;
	background-color:#262626;
	position:absolute;
	top:45%;
	left:42.25%;
	text-align:center;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 10px;
	border: solid 2px #00fffc;
	user-select: none;
	border-style: dashed;
	display: none;		
	opacity:0;animation: transition_gameover 2.5s  forwards;
}


.divWin{
	text-shadow:0 0 20px #00FFFC,2px 3px 3px #141414, 0 0 100px #00D4D1;
	color:#00FFFC;
	background-color:#262626;
	position:absolute;
	top:45%;
	left:42.25%;
	text-align:center;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 10px;
	border: solid 2px #00fffc;
	user-select: none;
	border-style: dashed;
	display: none;		
	opacity:0;animation: transition_gameover 2.5s  forwards;
}

.divBoss{
	text-shadow:0 0 20px #00FFFC,2px 3px 3px #141414, 0 0 100px #00D4D1;
	color:#00FFFC;
	background-color:#262626;
	position:absolute;
	top:45%;
	left:42.25%;
	text-align:center;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 10px;
	border: solid 2px #00fffc;
	user-select: none;
	border-style: dashed;
	display: none;		
	opacity:0;animation: transition_gameover 2.5s  forwards;
}

#again{
	text-shadow:0 0 20px #00FFFC,2px 3px 3px #141414, 0 0 100px #00D4D1;
	color:#00FFFC;
	background-color:#262626;
	position:absolute;
	top:65%;
	left:43.85%;
	text-align:center;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 10px;
	border: solid 2px #00fffc;
	user-select: none;
	border-style: dashed;
	display:none;
	font-size: 30px;
	opacity:0;animation: transition_rejouer 5s  forwards;
}
#again:hover{
	transform:scale(1.25);
	cursor: pointer;
}
#finalScore{
	font-size: 26px;
}

#finalScoreWin{
	font-size: 26px;
}

.divLife{
	text-shadow:0 0 20px #00FFFC,2px 3px 3px #141414, 0 0 100px #00D4D1;
	color:#00FFFC;
	background-color:#262626;
	position:absolute;
	top:60%;
	text-align:center;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 10px;
	border: solid 2px #00fffc;
	user-select: none;
	border-style: dashed;

	opacity:0;animation: transition 2.5s  forwards;
}

.divBossCountdown{
	text-shadow:0 0 20px #de2c0b, 0 0 100px #de2c0b;
	color:#de2c0b;
	background-color:#262626;
	position:absolute;
	top:20%;
	text-align:center;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 10px;
	border: solid 2px #de2c0b;
	user-select: none;
	border-style: dashed;
	opacity:0;animation: transition 2.5s  forwards;
}

#bossIn{
	font-size:20px;
}
#remainingLife{
	font-size: 20px;
}

 @keyframes transition_BossBarre {
0%   { opacity:0; }
100% { opacity:1; }
}


 @keyframes transition_LifeBoss {
0%   { width:0%;  }
100% { width:100%;}
}

#myBossProgress {
	border-radius: 10px;
	overflow:hidden;
	border: solid 2px #36025e;
	opacity:0;
	animation: transition_BossBarre 2.5s  forwards;/* par defaut, ease, courbe bezier cubique fixe*/

	width: 30%;
	left:35%;
	top:2%;
	background-color: #857e7f;
	position:absolute;
	display:none;

}

#myBossBar {
 	animation: transition_LifeBoss 3s;
   /*width:100%;*/
  	height: 30px;
  
 	/* background-color: #99122b;*/

	background-image:linear-gradient(to bottom, #fa7878,#910707);
  
}

